@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.sr_only {
    @include srOnly;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    a {
        font-weight: bold;
        color: #2c3e50;
    }
    a[class="active"]{
        color: #42b983;
    }
}

.main_nav_item {
    a {
        text-decoration: none;
        margin-right: 0.5rem;
        &:hover {
            text-decoration: underline;
        }
    }
}
  
.main_nav_logo {
    display: flex;
    align-items: center;
}
  
.main_nav_logo_image {
    max-width: 100%;
    width: 200px;
}