@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.bg_dark {
    @include darkBG;
    @include main;
    flex-direction: column;
}
.sr_only {
    @include srOnly;
}

.header {
    color: #fff;
    margin-bottom: 2rem;
}