@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.bg_dark {
    @include darkBG;
    @include main;
    flex-direction: column;
}
.sr_only {
    @include srOnly;
}

.header {
    color: $primaryColor;
    margin-bottom: 2rem;
}

.edit_button {
    border-color: $secondaryColor;
    background-color: $secondaryColor;
    color:$primaryColor;
    font-weight: bold;
    padding: 10px;
}