@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.bg_dark {
    @include darkBG;
    @include main;
}

.sign_in_button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: $secondaryColor;
    background-color: $secondaryColor;
    color: $primaryColor;
}

.sign_in_content {
    box-sizing: border-box;
    background-color: $primaryColor;
    width: 300px;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
}

.sign_in_icon {
    font-size: 5rem;
}

.input_remember {
    display: flex;

    label {
        margin-left: 0.25rem;
    }
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;

    label {
        font-weight: bold;
    }

    input {
        padding: 5px;
        font-size: 1.2rem;
    }
}
.error {
    color: red;
    margin-bottom: 0;
}