@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.header {
    color: $primaryColor;
    margin-bottom: 2rem;
}
.edit_button, .save_button, .cancel_button {
    border-color: $secondaryColor;
    background-color: $secondaryColor;
    color: $primaryColor;
    font-weight: bold;
    padding: 10px;
}
.cancel_button {
    margin-left: 1rem;
}
.input_wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;

    input {
        padding: 5px;
        font-size: 1.2rem;
        margin-right: 1rem ;
    }
}

@media (max-width: 720px) {
    .input_wrapper {
        display: block;
        text-align: center;
        margin : 1rem auto;
        input {
            width: 200px;
        }
    }
  }